Project Template

Parameter:
----------
global.parameter = global-parameter-value
project.parameter = project-parameter-value
overriden_parameter = app-stage-overridden-parameter-value

Secrets:
--------
global.secret = global-secret-value
project.secret = project-secret-value
overriden_secret = app-stage-overriden-secret-value

DSO Meta:
---------
Namespace is test-ns
Project is test-project
Application is test-application
Stage is test-stage
Parameter provider is local/v1
Secret  provider is aws/ssm/v1
Template provider is local/v1

Template Logics:
------------------

Hey, I am running in test-stage environment!
I am included!


